* _ means the hour is open
  X means the hour is occupied
  ^ means the hour is usually occupied
  < means the hour is in the past (may not get around to filling them all in)

* refresh the page to make sure this file is up to-date

* if it's not sunday, then the days of the week are in the past of whatever day 
  of the week it is

  ============= this week  ============  Sunday - July 2
        Sun Mon Tue Wed Thu Fri Sat
10am    X   X   X   X   X   X   X   
11am    X   X   X   X   X   X   X   
12pm    X   X   X   X   X   X   X   
 1pm    X   X   X   X   X   X   X   
 2pm    _   X   X   X   _   X   X   
 3pm    _   X   X   X   _   X   X   
 4pm    X   X   _   X   _   X   _   
 5pm    X   X   _   X   _   X   _   
 6pm    X   X   X   X   X   X   _   
 7pm    _   X   X   X   X   X   _   
 8pm    X   X   _   X   _   X   _   
 9pm    _   X   _   X   _   X   _   
10pm    _   X   _   X   _   X   _   
11pm    _   X   _   X   _   X   _   
12am    _   X   _   X   _   X   _   


  ============== next week  ============ 
        Sun Mon Tue Wed Thu Fri Sat
10am    X   X   X   X   X   X   X   
11am    X   X   X   X   X   X   X   
12pm    X   X   X   X   X   X   X   
 1pm    X   X   X   X   X   X   X   
 2pm    X   X   X   X   X   X   X   
 3pm    X   X   X   X   X   X   X   
 4pm    X   _   X   _   X   _   X   
 5pm    X   _   X   _   X   _   X   
 6pm    X   _   X   _   X   _   X   
 7pm    X   _   X   _   X   _   X   
 8pm    X   _   X   _   X   _   X   
 9pm    X   _   X   _   X   _   X   
10pm    X   _   X   _   X   _   X   
11pm    X   _   X   _   X   _   X   
12am    X   _   X   _   X   _   X   


  ========= next next week ============ 
        Sun Mon Tue Wed Thu Fri Sat
10am    X   X   X   X   X   X   X   
11am    X   X   X   X   X   X   X   
12pm    X   X   X   X   X   X   X   
 1pm    X   X   X   X   X   X   X   
 2pm    X   X   _   X   _   X   X   
 3pm    X   X   _   X   _   X   X   
 4pm    _   X   _   X   _   X   _   
 5pm    _   X   _   X   _   X   _   
 6pm    _   X   X   X   X   X   _   
 7pm    _   X   _   X   _   X   _   
 8pm    _   X   _   X   _   X   _   
 9pm    _   X   _   X   _   X   _   
10pm    _   X   _   X   _   X   _   
11pm    _   X   _   X   _   X   _   
12am    _   X   _   X   _   X   _   

